
<section>
    {% if form_data %}
    <h1>{{Name}}</h1>
    <form >
        {% csrf_token %}
        {% for data in form_data %}

        <label for="{{data.field_name}}">{{data.field_name}}: </label>
        {% if data.field.input_field_type == "textarea" %}
            <textarea 
            id="{{data.field_name|cut:' '}}"
            name="{{data.field_name}}_{{data.index}}" rows="3" cols="40">
            {{data.placeholder}}
            </textarea>
        {% elif data.field.input_field_type == "radio" or data.field.input_field_type == "checkbox" %}
            {% if data.option_value %}
                {% for opt_val in data.option_value %}
                    <input type="{{data.field.input_field_type}}" id="{{opt_val.val|cut:' '}}" name="{{data.field_name}}_{{data.index}}" value="{{opt_val.val}}" {% if opt_val.is_check %}checked{% endif %}>
                    <label for="{{opt_val.val|cut:' '}}">{{opt_val.val}}</label>
                    {% if forloop.last %}<br>{% endif %}
                {% endfor %}    
            {% endif %}
        
        {% else %}
        <input 
            type="{{data.field.input_field_type}}"
            id="{{data.field_name|cut:' '}}"
            name="{{data.field_name}}_{{data.index}}"
            placeholder="{{data.placeholder}}"
            {% if data.is_required %} required {% endif %}
            {% if data.min %} min="{{data.min}}" {% endif %}
            {% if data.max %} max="{{data.max}}" {% endif %}
            {% if data.pattern_match %} pattern="{{data.pattern_match}}" {% endif %}
        >
        <br>
        {% endif %}
        {% if forloop.last %}<br>{% endif %}
        {% endfor %}
        <button id="{{Name|cut:' '}}_Form">Submit</button>
    </form>
    {% endif %}
    
</section>
<table id="{{Name|cut:' '}}_table" style="width:100%">
    <thead>
        <tr>
            <td style="width:40%">Title</td>
            <td style="width:30%">Link</td>
            <td style="width:15%">Price</td>
            <td style="width:15%">Rating</td>
        <tr>
    </thead>
    <tbody id="{{Name|cut:' '}}_tbody">

    </tbody>
</table>


<script>
    $("#{{Name|cut:' '}}_Form").click(function (event) {
        event.preventDefault();
        var data = { {% for data in form_data %}{% if not forloop.first %},{% endif %}"{{ data.field_name|cut:' ' }}":{% if data.field.input_field_type == "radio" or data.field.input_field_type == "checkbox" %}$("input[name='{{ data.field_name|cut:' ' }}_{{ data.index }}']:checked").map(function(){return $(this).val();}).get(){% else %}$("#{{ data.field_name|cut:' ' }}").val(){% endif %}{% endfor %} };        
        console.log(data)
        $("#amazon_tbody").html("")
        $.ajax({
            url: 'http://127.0.0.1:8080/scrape',
            type: 'GET',
            data: $.param(data),
            success: function(response) {
                $(function() {
                    $.each(response.products, function(i, item) {
                        $("#amazon_tbody").append(`
                            <tr>
                                <td>${item.Title}</td>
                                <td>${item.Link}</td>
                                <td>${item.Price}</td>
                                <td>${item.Rating}</td>
                            <tr>
                        `)
                    });
                });
            },
            error: function(xhr, status, error) {
                console.error('Error:', error);
            }
        });
        
    })
</script>